<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Add Category</h1>
                <!-- {{categoryData|json}} -->

                <form (ngSubmit)="formSubmit()">
                    <!-- title field -->
                    <mat-form-field class="full-width container" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input 
                        autofocus
                        [(ngModel)]="categoryData.title"
                        name="title"
                        required
                        matInput placeholder="Enter here">
                      </mat-form-field>


                      <mat-form-field class="full-width container" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea
                        [(ngModel)]="categoryData.description"
                        name="description"
                        required
                        matInput placeholder="Enter here"
                        matAutosizeMinRows="5"
                        matAutosizeMaxRows="15" 
                        ></textarea>
                      </mat-form-field>

                      
                   
                      <div class="container text-center">
                        <button mat-raised-button color="primary" type="submit">Add</button>
                        <button  type="reset" class="ml20"  mat-raised-button color="accent">Clear</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>