<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <h1 class="text-center">Register Here</h1>

                <!-- for checking the data binding -->
                <!-- {{user|json}} -->

                <form (ngSubmit)="formSubmit()">
                    <!-- User Name Field -->

                  <!-- ngModel is used to bind username with username vaiable of user in TS file -->



                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                        [(ngModel)]="user.username"
                        name="username"
                        required
                        matInput placeholder="Enter here">
                        <mat-hint>Username must be unique</mat-hint>
                      </mat-form-field>

                    <!-- Password -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                        [(ngModel)]="user.password"
                        required
                        name="password"
                        type="password"  matInput placeholder="Enter here">
                      </mat-form-field>
                    <!-- First name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input 
                        [(ngModel)]="user.firstName"
                        required
                        name="firstName"
                        matInput placeholder="Enter here">
                      </mat-form-field>
                    <!-- last name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input 
                        [(ngModel)]="user.lastName"
                        required
                        name="lastName"
                        matInput placeholder="Enter here">
                      </mat-form-field>
                    <!-- email -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input 
                        [(ngModel)]="user.email"
                        required
                        name="email"
                        matInput placeholder="Enter here">
                      </mat-form-field>
                    <!-- phone -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone No. </mat-label>
                        <input 
                        [(ngModel)]="user.phone"
                        required
                        name="phone"
                        matInput placeholder="Enter here">
                      </mat-form-field>

                    <div class="container text-center">
                        <button  type="submit"  mat-raised-button color="primary">Register</button>
                        <button  type="reset" class="ml20"  mat-raised-button color="accent">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>